@import 'tailwindcss';

/* @custom-variant dark (&:where(.dark, .dark *)); */
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

html,
body,
#__next {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  position: relative;
  box-sizing: border-box;
}
